---
---

body {
  font-family: BlinkMacSystemFont;
}

ul {
  list-style: none;
}

.header {
  margin: 30px 0 50px;
  .back {
    font-family: Menlo;
  }
}

.container {
  max-width: 900px;
}

.box {
  margin: 10px 0;
}
