<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/default.css">
</head>
<body>
  <div class="container">
    <header class="header">
      {% if page.top %}{% else %}<a href="/" class="back">&lt;- Home</a>{% endif %}
      <h1 class="text-center">{{ page.title }}</h1>
    </header>
    {{ content }}
    <a href="https://github.com/noraworld/noraworld.io" target="_blank"><img style="position:absolute;top:0;right:0;border:0;" src="/assets/img/fork_me_on_github.png" alt="Fork me on GitHub"></a>
  </div>
  <script type="text/javascript" src="/assets/js/jquery.js"></script>
  <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
  {% if page.script %}<script type="text/javascript" src="/assets/js/{{ page.script }}"></script>{% endif %}
</body>
</html>
